<div id="auth_available_services" class="auth-services">
  <% unless Secrets.auth_credentials.empty? %>
    <ul <%='class="icon-list"'.html_safe if include_icons%>>
      <%= auth_list(include_icons, @current_authentications) %>
    </ul>
  <% end %>
</div>