<h1><%=translate('muck.auth.services') %></h1>
<% if @authentications %>
  <%= render 'authentications/current_services', :authentications => @current_authentications %>
  <p><strong>Add another service to sign in with:</strong></p>
<% else %>
  <p><strong>Sign in through one of these services:</strong></p>
<% end %>
<%= render 'authentications/available_services', :authentications => @unused_authentications, :include_icons => true %>